*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
}

.sticky-section {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sticky-section--1 {
    height: 90vh;
}
.sticky-section__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}
.sticky-section--main-title {
    font-family: "Open sans";
    position: relative;
    line-height: 1.1;
    font-weight: 900;
    text-shadow: 2px 2px 0px #111;
    font-size: clamp(35px, 25vw, 150px);
    color: #f1f1f1;
}
.sticky-section__txt-info {
    font-size: 25px;
    color: #f1f1f1;
    position: relative;
    margin-bottom: 145px;
}
.sticky-section__h2,
.content-section__h2 {
    font-size: clamp(25px, 10vw, 100px);
    margin-bottom: 100px;
}
.sticky-section--2 {
    background: #f1f1f1;
}
.sticky-section--3 {
    background: orange;
}

.content-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-section--1 {
    background: teal;
}
.content-section--2 {
    background: lightpink;
}
